@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/test.css" rel="stylesheet" />
<!-- end home page slider -->

<!-- Features list section -->
<div class="homepage-slider">
    <!-- single home slider -->
    <div class="single-homepage-slider homepage-bg-1">
        <video autoplay muted loop id="background-video">
            <source src="~/video/WhatsApp Video 2024-08-10 at 5.55.50 PM.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
                    <div class="hero-text">
                        <div class="hero-text-tablecell">
                            <p class="subtitle">best choice</p>
                            <h1>HereForYou</h1>
                            <div class="hero-btns">
                                
                                <a asp-action="galary" class="boxed-btn">Gift ideas</a>
                                <a asp-action="shop" class="bordered-btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
    <!-- single home slider -->
    <div class="single-homepage-slider homepage-bg-2">
        <video autoplay muted loop id="background-video">
            <source src="~/video/IMG_2627 (2).MP4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 text-center">
                    <div class="hero-text">
                        <div class="hero-text-tablecell">
                            <p class="subtitle">New Item Everyday</p>
                            <h1>Experience the quality you deserve!</h1>
                            <div class="hero-btns">
                                <a asp-action="Shop" class="boxed-btn">Visit Shop</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- single home slider -->
    <div class="single-homepage-slider homepage-bg-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 text-right">
                    <div class="hero-text">
                        <div class="hero-text-tablecell">
                            <p class="subtitle">do you have any comment?</p>
                            <h1>Contact us for any problem</h1>
                            <div class="hero-btns">
                                <a asp-action="ConectUs" class="bordered-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="list-section pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="content">
                        <h3>Free Shipping</h3>
                        <p>When order over $75</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-phone-volume"></i>
                    </div>
                    <div class="content">
                        <h3>24/7 Support</h3>
                        <p>Get support all day</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="list-box d-flex justify-content-start align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-sync"></i>
                    </div>
                    <div class="content">
                        <h3>Refund</h3>
                        <p>Get refund within 3 days!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Video and text section -->
<section class="video-section">
    <div class="video-wrapper">
        <video autoplay loop muted>
            <source src="~/video/WhatsApp Video 2024-08-15 at 3.50.31 PM.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="video-content">
            <h1>Celebrate Life’s Moments with Unique and Memorable Gifts</h1>
        </div>
    </div>
</section>


@* <div class="video-text-container">
    <div class="video-container">
        <video autoplay loop muted>
            <source src="~/video/WhatsApp Video 2024-08-15 at 3.50.31 PM.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="text-container">
        <h1>Celebrate Life’s Moments with Unique and Memorable Gifts</h1>
        <p>We can help you find the perfect gift for any occasion, ensuring no detail is overlooked. Whether you’re looking for a delightful cake or a charming candle, we have a wide selection to meet your needs. From the smallest token of appreciation to the grandest gesture, our collection is designed to help you make every moment special. Let us guide you in selecting a gift that will leave a lasting impression and celebrate the unique milestones in your life.</p>
        <a href="shop.html" class="boxed-btn" style="align-items:start">lets do it </a>

    </div>
</div>
 *@
<!-- Slider section -->
<div class="slider-container">
    <h2 style="margin-top:4%">
        Explore Our Category
    </h2>
    <div class="slider">
        <div class="slide">
            <img src="~/img/back-removebg-preview.png" alt="Flower">
            <div class="img-cap">
                <span>Flower</span>
            </div>
            <div class="favorit-items">
                <a asp-controller="Home" asp-action="Shop" class="btn">Shop Now</a>
            </div>
        </div>
        <div class="slide">
            <img src="~/img/tt.png" alt="Cake">
            <div class="img-cap">
                <span>Party</span>
            </div>
            <div class="favorit-items">
                <a asp-controller="Home" asp-action="Shop" class="btn">Shop Now</a>
            </div>
        </div>
        <div class="slide">
            <img src="~/img/14 Candle Photography Ideas for Perfect Candlelight Shots.jpg" alt="Jackets">
            <div class="img-cap">
                <span>Candle</span>
            </div>
            <div class="favorit-items">
                <a asp-controller="Home" asp-action="Shop" class="btn">Shop Now</a>
            </div>
        </div>
        <div class="slide">
            <img src="~/img/womens watches aesthetic.jpg" alt="Clothes">
            <div class="img-cap">
                <span> watch</span>
            </div>
            <div class="favorit-items">
                <a asp-controller="Home" asp-action="Shop" class="btn">Shop Now</a>
            </div>
        </div>
        <div class="slide">
            <img src="~/img/Believe_in_Yourself__-removebg-preview.png" alt="Jewelry">
            <div class="img-cap">
                <span>Jewelry</span>
            </div>
            <div class="favorit-items">
                <a asp-controller="Home" asp-action="Shop" class="btn">Shop Now</a>
            </div>
        </div>
        <div class="slide">
            <img src="~/img/cbf6821c10a5d5762527b93f31586743-removebg-preview.png" alt="Perfumes">
            <div class="img-cap">
                <span>Perfumes</span>
            </div>
            <div class="favorit-items">
                <a asp-controller="Home" asp-action="Shop" class="btn">Shop Now</a>
            </div>
        </div>
    </div>
    <a class="prev" onclick="plusSlides(-1)" style="color:#F28123;">&#10094;</a>
    <a class="next" onclick="plusSlides(1)" style="color:#F28123;">&#10095;</a>
</div>
<!-- testimonail-section -->
<div class="testimonail-section mt-80 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <div class="testimonial-sliders">
                    <div class="single-testimonial-slider">
                        
                        <div class="client-meta">
                            <h3>Saira Hakim <span>Local shop owner</span></h3>
                            <p class="testimonial-body">
                                "But in order that you may see whence all this born error of the truth, and as the architect of a happy life, say the same things which are from that inventor. But in order that you may see whence all this born error is the pleasure of those who accuse
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-slider">
                        
                        <div class="client-meta">
                            <h3>David Niph <span>Local shop owner</span></h3>
                            <p class="testimonial-body">
                                "But in order that you may see whence all this born error of the truth, and as the architect of a happy life, say the same things which are from that inventor. But in order that you may see whence all this born error is the pleasure of those who accuse
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-slider">
                        
                        <div class="client-meta">
                            <h3>Jacob Sikim <span>Local shop owner</span></h3>
                            <p class="testimonial-body">
                                "But in order that you may see whence all this born error of the truth, and as the architect of a happy life, say the same things which are from that inventor. But in order that you may see whence all this born error is the pleasure of those who accuse
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end testimonail-section -->


<script src="~/js/test.js"></script>
